includes:
  - vendor/hexlet/phpstan-fp/extension.neon

parameters:
    phpstanFunctionalProgramming:
        disallowClasses: false
        disallowThrow: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - src
        - tests